Diagnostics:
  UnusedIncludes: Strict
InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
CompileFlags:
  Remove: [ -fmodules-ts, -fmodule-mapper*, -fdeps-format=p1689r5 ]
  Add: [ -fmodules ]
